<table class="grid-table" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th class="grid-header" style="width: 35px; text-align: center;">Sr</th>
            <th class="grid-header" style="width: 90px;">PVEV No</th>
            <th class="grid-header" style="width: 70px;">PONo</th>
            <th class="grid-header" style="width: 90px;">Bill No</th>
            <th class="grid-header" style="width: 80px;">Bill Date</th>
            <th class="grid-header" style="width: 100px;">Against Bill</th>
            <th class="grid-header" style="width: 85px; text-align: right;">Actual Amt</th>
            <th class="grid-header" style="width: 85px; text-align: right;">Paid Amt</th>
            <th class="grid-header" style="width: 85px; text-align: right;">Bal Amt</th>
            <th class="grid-header" style="width: 85px; text-align: right;">Amount</th>
            <th class="grid-header">Narration</th>
            <th class="grid-header" style="width: 50px; text-align: center;">Delete</th>
        </tr>
    </thead>
    <tbody id="creditorTempGridBody">
        {% if temp_creditors %}
            {% for enriched in temp_creditors %}
            <tr>
                <td class="grid-cell" style="text-align: center;">{{ forloop.counter }}</td>
                <td class="grid-cell">{{ enriched.item.pvevno }}</td>
                <td class="grid-cell">{{ enriched.item.pono }}</td>
                <td class="grid-cell">{{ enriched.item.proformainvno }}</td>
                <td class="grid-cell">{{ enriched.item.invdate }}</td>
                <td class="grid-cell">{{ enriched.item.billagainst }}</td>
                <td class="grid-cell" style="text-align: right;">{{ enriched.actual_amt|floatformat:2 }}</td>
                <td class="grid-cell" style="text-align: right;">{{ enriched.paid_amt|floatformat:2 }}</td>
                <td class="grid-cell" style="text-align: right;">{{ enriched.bal_amt|floatformat:2 }}</td>
                <td class="grid-cell" style="text-align: right;">{{ enriched.item.amount|floatformat:2 }}</td>
                <td class="grid-cell">{{ enriched.item.particular }}</td>
                <td class="grid-cell" style="text-align: center;">
                    <button type="button" class="btn-delete"
                            hx-post="{% url 'accounts:advice-creditors-delete-temp' enriched.item.id %}"
                            hx-target="#creditorTempGrid"
                            hx-swap="innerHTML">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="12" class="grid-cell empty-row">No bills selected. Use "Add Selected Bills to Temp" button above.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
