{% extends 'core/patterns/form_page.html' %}

{% block title %}{% if object %}Edit{% else %}Add{% endif %} Process - Cortex ERP{% endblock %}
{% block page_header %}{% if object %}Edit{% else %}Add{% endif %} Process{% endblock %}
{% block form_action %}{% if object %}{% url 'accounts:process-update' object.id %}{% else %}{% url 'accounts:process-create' %}{% endif %}{% endblock %}
{% block cancel_url %}{% url 'accounts:process-list' %}{% endblock %}

{% block form_content %}
    {% include 'core/components/forms/text_input.html' with 
        name="processname"
        label="Process Name"
        value=object.processname
        required=True
    %}
    
    {% include 'core/components/forms/text_input.html' with 
        name="symbol"
        label="Symbol"
        value=object.symbol
    %}
{% endblock %}








