<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <system.web>
        <authorization>
            <allow users="shri" />
        </authorization>
      
      
    </system.web>
  <appSettings>
  <add key="SecurityKey" value="Syed Moshiur Murshed"/>
    
  </appSettings>
</configuration>