/* 
 Provided by Shahin@themorningoutline.com Under GNU GPL
 For more inforamtion visit swww.themorningoutline.com
 */
body
{
    height: 10%;    

}

.divContainer
{     
    text-align: right;
    font-size: large;
    position:absolute;
    visibility: visible;
    width: 100%;    
    vertical-align: middle;
    display: inline;
    height: 100%;
    background-color:Transparent;  
    z-index:99999;
}

.divLoaderBack
{
    background-color:#000000;
    color: #ffffff;
    font-size:12px;
    height: 30px;
    visibility: visible;
    width: 200px;
    vertical-align: middle;
    text-align: left;
    margin: auto;
    top:15%;
    position:relative;    
}

.divLoaderProgress
{    
    color: #ffffff;
    padding: 0px,0px,0px,0px;
    position: relative;
    visibility: visible;
    height:14px;
    width: 0px;
    background-image:url("../../Images/ProgressBar.gif")
}

.divLoadingStat
{
    background-color:Transparent;
    border-color: #66FF33;
    color:#ffffff;
    padding: 0px,0px,0px,0px;
    position: relative;
    visibility: visible;
    border-width: medium;
    width: 100%;
    height: 15px;
    text-align: center;
    margin-bottom: 10px;
    top:13.3%;
    font-family:Arial;
	font-size:12px;
	
}