{% extends 'core/patterns/form_page.html' %}

{% block title %}{% if object %}Edit{% else %}Add{% endif %} Overtime Type - Cortex ERP{% endblock %}
{% block page_header %}{% if object %}Edit{% else %}Add{% endif %} Overtime Type{% endblock %}
{% block form_action %}{% if object %}{% url 'human_resource:overtime-update' object.id %}{% else %}{% url 'human_resource:overtime-create' %}{% endif %}{% endblock %}
{% block cancel_url %}{% url 'human_resource:overtime-list' %}{% endblock %}

{% block form_content %}
    {% include 'core/components/forms/text_input.html' with 
        name="description"
        label="Description"
        value=object.description
        required=True
        placeholder="e.g., Regular Overtime, Holiday Overtime"
    %}
{% endblock %}








